-- SQL generado automaticamente por fetch-imagenes.mjs
-- Copia todo esto y pegalo en el SQL Editor de Supabase

-- No se encontro foto para: Filipina Medica Antifluidos
update productos set imagen_url = 'https://images.unsplash.com/photo-1664095884955-540ede690c40?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8bWVkaWNhbCUyMHNjcnViJTIwcGFudHMlMjBudXJzZXxlbnwwfDJ8fHwxNzkwNDgzNDc4fDA&ixlib=rb-4.1.0&w=400&q=80&auto=format&fit=crop' where nombre = 'Pantalon Medico Antifluidos';
update productos set imagen_url = 'https://images.unsplash.com/photo-1627904303677-5200f12f3836?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8ZGVuaW0lMjB3b3JrJTIwc2hpcnQlMjB3b3JrZXJ8ZW58MHwyfHx8MTc5MDQ4MzQ3OXww&ixlib=rb-4.1.0&w=400&q=80&auto=format&fit=crop' where nombre = 'Camisa Jean de Trabajo';
update productos set imagen_url = 'https://images.unsplash.com/photo-1604787705068-1e2573603566?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8Y2FyZ28lMjB3b3JrJTIwcGFudHMlMjBjb25zdHJ1Y3Rpb258ZW58MHwyfHx8MTc5MDQ4MzQ3OXww&ixlib=rb-4.1.0&w=400&q=80&auto=format&fit=crop' where nombre = 'Pantalon de Dril Industrial';
update productos set imagen_url = 'https://images.unsplash.com/photo-1701878198293-d1f3641efdb3?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8Y2hlZiUyMGphY2tldCUyMHdoaXRlJTIwdW5pZm9ybXxlbnwwfDJ8fHwxNzkwNDgzNDgwfDA&ixlib=rb-4.1.0&w=400&q=80&auto=format&fit=crop' where nombre = 'Filipina Chef Ejecutiva';
-- No se encontro foto para: Pantalon Cocina Pinstripe
update productos set imagen_url = 'https://images.unsplash.com/photo-1598032895397-b9472444bf93?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8b3hmb3JkJTIwZHJlc3MlMjBzaGlydCUyMGJ1c2luZXNzfGVufDB8Mnx8fDE3OTA0ODM0ODF8MA&ixlib=rb-4.1.0&w=400&q=80&auto=format&fit=crop' where nombre = 'Camisa Ejecutiva Oxford';
update productos set imagen_url = 'https://images.unsplash.com/photo-1593032527598-55649fe534ac?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8Zm9ybWFsJTIwZHJlc3MlMjBwYW50cyUyMGJ1c2luZXNzfGVufDB8Mnx8fDE3OTA0ODM0ODJ8MA&ixlib=rb-4.1.0&w=400&q=80&auto=format&fit=crop' where nombre = 'Pantalon Formal de Vestir';
update accesorios set imagen_url = 'https://images.unsplash.com/photo-1762237798221-a298c91e18a3?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8c3VyZ2ljYWwlMjBjYXAlMjBtZWRpY2FsfGVufDB8Mnx8fDE3OTA0ODM0ODJ8MA&ixlib=rb-4.1.0&w=200&q=80&auto=format&fit=crop' where nombre = 'Gorro quirurgico';
update accesorios set imagen_url = 'https://images.unsplash.com/photo-1604474612062-db1e5383c494?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8c3VyZ2ljYWwlMjBmYWNlJTIwbWFza3xlbnwwfDJ8fHwxNzkwNDgzNDgzfDA&ixlib=rb-4.1.0&w=200&q=80&auto=format&fit=crop' where nombre = 'Tapabocas';
update accesorios set imagen_url = 'https://images.unsplash.com/photo-1662380683642-1c4ee212ce9c?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8bWVkaWNhbCUyMGNsb2dzJTIwc2hvZXN8ZW58MHwyfHx8MTc5MDQ4MzQ4NHww&ixlib=rb-4.1.0&w=200&q=80&auto=format&fit=crop' where nombre = 'Zuecos';
update accesorios set imagen_url = 'https://images.unsplash.com/photo-1690473768831-200986892e62?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8bGVhdGhlciUyMHdvcmslMjBnbG92ZXN8ZW58MHwyfHx8MTc5MDQ4MzQ4NHww&ixlib=rb-4.1.0&w=200&q=80&auto=format&fit=crop' where nombre = 'Guantes de carnaza';
update accesorios set imagen_url = 'https://images.unsplash.com/photo-1598804413160-07560f3f78ec?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8Y29uc3RydWN0aW9uJTIwaGFyZCUyMGhhdCUyMGhlbG1ldHxlbnwwfDJ8fHwxNzkwNDgzNDg1fDA&ixlib=rb-4.1.0&w=200&q=80&auto=format&fit=crop' where nombre = 'Casco';
update accesorios set imagen_url = 'https://images.unsplash.com/photo-1774569036555-c3d233425a13?ixid=M3wxMDg0MzYxfDB8MXxzZWFyY2h8MXx8c3RlZWwlMjB0b2UlMjB3b3JrJTIwYm9vdHN8ZW58MHwyfHx8MTc5MDQ4MzQ4NXww&ixlib=rb-4.1.0&w=200&q=80&auto=format&fit=crop' where nombre = 'Botas punta de acero';
